.messageBoxlight {
    background: #F3F3F3;
    border-radius: 20px;
    padding: 5px 20px;
    color: white;
    display: inline-block;
    max-width: 80%;
  }
  
  .messageBoxblue {
    background: #2979FF;
    border-radius: 20px;
    padding: 5px 20px;
    color: white;
    display: inline-block;
    max-width: 80%;
  }
  .messageTextWhite {
    color: white;
    width: 100%;
    letter-spacing: 0;
    float: left;
    font-size: 1.1em;
    word-wrap: break-word;
  }

  .messageTextDark {
    color: #353535;
    width: 100%;
    letter-spacing: 0;
    float: left;
    font-size: 1.1em;
    word-wrap: break-word;
  }
  
  .messageTextDark, .messageTextWhite img {
    vertical-align: middle;
  }
  
  .messageContainer {
    display: flex;
    justify-content: flex-end;
    padding: 0 5%;
    margin-top: 3px;
  }

  .messageContainerStart {
    display: flex;
    justify-content: flex-start;
    padding: 0 5%;
    margin-top: 3px;
  }
  .sentTextpr {
    display: flex;
    align-items: center;
    font-family: Helvetica;
    color: #828282;
    letter-spacing: 0.3px;
    padding-right: 10px;
  }

  .sentTextpl {
    display: flex;
    align-items: center;
    font-family: Helvetica;
    color: #828282;
    letter-spacing: 0.3px;
    padding-left: 10px;
  } 

  .messages {
    padding: 5% 0;
    overflow: auto;
    flex: auto;
  }
 
  